<a href="https://colab.research.google.com/github/Parkjaeseong33/python_programming/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#2023 석사 박재성 9주차 HW
number_list= []
number_list.append(1) 
number_list.append(2) 
number_list.append(3) 
number_list.append(4) 
number_list.append(5)

In [13]:
number_list= []
for number in range(1,6):
  number_list.append(number)
  number_list

In [10]:
number_list = list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [8]:
unmber_list = [number for number in range(1,6)]
unmber_list

[1, 2, 3, 4, 5]

In [14]:
unmber_list = [number-1 for number in range(1,6)]
unmber_list

[0, 1, 2, 3, 4]

In [15]:
unmber_list = [number for number in range(1,6) if number % 2 ==1]
unmber_list

[1, 3, 5]

In [17]:
a_list = []
for number in range(1,6):
  if number%2 == 1 :
    a_list.append(number)

a_list

[1, 3, 5]

In [18]:
from os import set_inheritable
sentence = ["I","LOVE","PYTON","SOOOOOO","MUCH!!"]
sentence

['I', 'LOVE', 'PYTON', 'SOOOOOO', 'MUCH!!']

In [27]:
[word.lower() for word in sentence]

['i', 'love', 'pyton', 'soooooo', 'much!!']

In [26]:
[word for word in sentence if len(word) > 6]

['SOOOOOO']

In [25]:
[(x,x**2,x**3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [29]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [33]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in word}
word

'letters'

In [36]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [37]:
word = 'letters'
letter_counts= {letter: word.count(letter) for letter in set(word)}
letter_counts

{'r': 1, 'e': 2, 't': 2, 's': 1, 'l': 1}

In [40]:
a_set= {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

In [41]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "-eat", fruit, "-enjoy", dessert)

Monday : drink coffee -eat banana -enjoy tiramisu
Tuesday : drink tea -eat orange -enjoy ice cream
Wednesday : drink beer -eat peach -enjoy pie

In [42]:
english= 'Monday', 'Tuesday', 'Wednesday'
french= 'Lundi', 'Mardi', 'Mercredi'

list( zip(english, french) )#[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]
dict( zip(english, french) )#{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [45]:

def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}
  
   menu('chardonnay', 'chicken', 'cake')
   {'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

IndentationError: ignored

In [46]:
# wine, entree, dessert를받아서딕셔너리로만들어반환하는함수
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [47]:
>>> menu(entree='beef', dessert='bagel', wine='bordeaux’)
{'dessert': 'bagel', 'wine': 'bordeaux', 'entree': 'beef'}

SyntaxError: ignored

In [60]:
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [61]:
def menu (price, wine= 'chardonnay', entree='chicken',dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [63]:
def echo(anything):
  'echo returns its input argument'
  return anything

In [65]:
def print_if_true(thing, check):
  """Prints the first argument if a second argument is true.The operation is:1. Check whether the *second* argument is true.2. If it is, print the *first* argument."""
  if check:print(thing)

In [ ]:
help()

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".